@{
    
}

<h1>Add a Cheese</h1>
<form method="post">
    <table>
        <tr>
            <td><label for="cheesename">Cheese Name:</label></td>
            <td><input type="text" name="cheesename"/> <span style="color: red; font-weight: 800" ;>@ViewBag.nameError</span></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><label for="cheesedescription">Cheese Description: &nbsp;</label></td>
            <td><input type="text" name="cheesedescription" /></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><input type="submit" value="Add Cheese" /></td>
        </tr>

    </table>
</form>
